
body{
  font-size: 12px;
}
nav.navbar.navbar-expand-lg.bg-body-tertiary {
  background: rgb(14, 15, 15)  !important;
}
.aix {
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}
.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(255 255 255) !important;
}
.custom_tab .mx-auto.flex.max-w-xs.flex-col.shadow-lg.px-4.py-4.gap-y-4 {
  width: 230px;
  text-align: center;
}

.dark\:bg-slate-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(25, 26, 28) !important;
 
}
.nav {
  /* background-color: yellow;  */
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  font-size: 14px;
  padding: 10px;
}
.custom-btn
{
margin-right:4px ;    
}

.main {
  width:100%;
    height:100vh; 
    display:flex;
}

.sidebar {
  height: 100%;
  width: 260px;
  position: fixed;
  z-index: 1;
  top:0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
    padding: 14px;
    margin-right: 20px;
    background: #f7f7f791 !important;
    box-shadow: 10px 10px 16px 7px rgb(0 0 0 / 12%);
}

li.sidebar-item {
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 18px;
}
.content {
  width: 100%;
  position: relative;
  margin-left: 190px !important; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.border-gray-50{
  border: 1px solid #ffffff4a !important; 
    background: rgb(255 255 255 / 10%);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
   
}
.bg-gray-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(12, 12, 13) !important;
}
.logo-inner {
  height: 3.5rem !important;
}
.error{
  color: red !important;
  text-align: center !important; 
  font-weight: 600 !important;

}

.edit-profile {
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
}